@import "tailwindcss";

@theme {

  /* Fonts */
  --font-gorditas: var(--font-gorditas);
  --font-inter: var(--font-inter);

  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-dark-blue: #141C31;
  --color-light-blue: #4C6079;
  --color-background-hero: #BCB7B3;

}


body {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
}
