.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.title-date {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--color-dark-blue);
    font-weight: bold;
    font-family: var(--font-inter);
}

.title-date p {
    font-size: clamp(1.25rem, 2.5vw, 1.25rem);
}

.title-date h2 {
    width: 400px;
    font-size: clamp(1.5rem, 2.5vw, 1.5rem);
}

.time {
    width: 250px;
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: clamp(0.75rem, 2.5vw, 0.75rem);
    color: rgba(0, 0, 0, 0.7);
}

.get-started-btn {
    font-size: 14px;
}

/* Mobile */
@media (max-width: 600px) {
    .date {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        position: relative;
        padding-right: 9rem;
    }

    .title-date {
        gap: 0.5rem;
    }

    .title-date p {
        font-size: 1rem;
        min-width: unset;
    }

    .title-date h2 {
        width: 100%;
        font-size: 1.125rem;
    }

    .time {
        width: 100%;
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.5);
    }

    .get-started-btn {
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
}