.carousel-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.item {
  
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;

}

.carousel-track {
    display: flex;
    gap: 12rem;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.carousel-track img{
    position: relative;
    top: 1rem;
    width: 76px;
    height: 70.5px;
}
.carousel-track h2 {
    font-family: var(--font-inter);
    font-size: clamp(1.5rem, 2.5vw, 3.5rem);
    font-weight: bold;
    color: var(--color-light-blue);

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}